.cyberpunk-banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.glitch-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  width: fit-content;
}

.glitch-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}

.glitch-text {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  /* Add other glitch text styles */
  animation: glitch 3s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0 0 4px #fff, 0 0 6px #0ff;
  }

  25% {
    text-shadow: 2px -2px 4px #0ff, -2px 2px 6px #fff;
  }

  50% {
    text-shadow: -2px 2px 4px #fff, 2px -2px 6px #0ff;
  }

  75% {
    text-shadow: 2px -2px 4px #0ff, -2px 2px 6px #fff;
  }

  100% {
    text-shadow: 0 0 4px #fff, 0 0 6px #0ff;
  }
}

.askme-input {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.glitch-subtitle {
  color: #fff;
  font-size: 18px;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* Add other glitch subtitle styles */
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.glitch-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  color: #fff;
  background-color: #ff7f00;
  text-decoration: none;
  /* Add other glitch button styles */
  animation: pulse 2s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  /* Apply grayscale effect to the image */
  z-index: -2;
  animation: flickerBackground 3s infinite;
}

@keyframes flickerBackground {
  0% {
    filter: grayscale(100%);
  }

  50% {
    filter: grayscale(50%);
  }

  100% {
    filter: grayscale(100%);
  }
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .glitch-text {
    font-size: 24px;
  }

  .glitch-subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .glitch-container {
    width: 80%;
  }

  .glitch-text {
    font-size: 20px;
  }

  .glitch-subtitle {
    overflow: hidden;
    animation: mobile-typing 2s steps(40, end), blink-caret .75s step-end infinite;
    white-space: normal;
  }

}

@keyframes mobile-typing {
  from { width: 0; white-space: nowrap;}
  to { width: 100%; white-space: normal;}
}