/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.about-text {
    color: whitesmoke;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.6)),
        url("http://localhost:3000/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    opacity: 100;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

section {
    padding: 60px 0;
}

.section-about {
    background-color: rgba(26, 26, 26, 0.8);
    padding: 80px 0;
}


.section-about h2 {
    color: #66d9ef;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 36px;
}

.section-about .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
    border: 4px solid #ff79c6;
    box-shadow: 0 0 10px rgba(255, 121, 198, 0.3);
}

.header-profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ff5555;
    box-shadow: 0 0 10px rgba(255, 121, 198, 0.3);
}

.section-projects {
    background-color: rgba(23, 23, 23, 0.9);
}

.section-projects h2 {
    color: #50fa7b;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 36px;
}

.project {
    margin-bottom: 40px;
    border: 4px solid #ff5555;
    box-shadow: 0 0 10px rgba(255, 85, 85, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    /* Set x AND Y */
    transform: translateX(-100px) translateY(100px);
}

.project a {
    text-decoration: none;
}

.project:hover {
    box-shadow: 0 0 20px rgba(255, 85, 85, 0.6);
    transform: translateY(-5px);
}

.project h3 {
    color: #f8f8f2;
    margin-bottom: 10px;
}

.project p {
    color: #bdbdbd;
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.section-skills {
    background-color: rgba(30, 30, 30, 0.9);
}

.section-skills h2 {
    color: #bd93f9;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 36px;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-list li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.skills-list li:hover {
    opacity: 1;
}

.section-contact {
    background-color: rgba(18, 18, 18, 0.8);
    padding: 80px 0;
}

.section-contact h2 {
    color: #f8f8f2;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 36px;
}

.section-contact a {
    color: #f1fa8c;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.section-contact a:hover {
    color: #50fa7b;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #e3e3e3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #e3e3e3;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff7f00;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateX(-100px) translateY(100px);
}


/* Additional Cyberpunk Styles */

.section-askme {
    background-color: rgba(23, 23, 23, 0.9);
    padding: 80px 0;
}

.section-askme h2 {
    color: #ff2ad9;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.section-about {
    background-color: rgba(26, 26, 26, 0.8);
    padding: 80px 0;
}

.section-about h2 {
    color: #2efff2;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.section-goal {
    background-color: rgba(23, 23, 23, 0.9);
    padding: 80px 0;
}

.section-goal h2 {
    color: #ff2ad9;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.profile-image {
    border: 4px solid #ff2ad9;
    box-shadow: 0 0 10px rgba(255, 42, 217, 0.3);
}

.section-projects {
    background-color: rgba(23, 23, 23, 0.9);
}

.section-projects h2 {
    color: #2affb8;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.project {
    border: 4px solid #ff5500;
    box-shadow: 0 0 10px rgba(255, 85, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project:hover {
    box-shadow: 0 0 20px rgba(255, 85, 0, 0.6);
    transform: translateY(-10px);
}

.project h3 {
    color: #f8f8f2;
    font-size: 24px;
    margin-bottom: 10px;
}

.project p, .project span {
    color: #bdbdbd;
    font-size: 18px;
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.section-skills {
    background-color: rgba(30, 30, 30, 0.9);
}

.section-skills h2 {
    color: #bd2dff;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.skills-list li:hover {
    opacity: 1;
    color: #bd2dff;
}

.section-contact {
    background-color: rgba(18, 18, 18, 0.8);
}

.section-contact h2 {
    color: #f8f8f2;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.section-contact a {
    color: #ffc600;
}

.section-contact a:hover {
    color: #00ff6e;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #e3e3e3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #e3e3e3;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff2ad9;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    color: #e3e3e3;
    font-size: 14px;
}

.footer a {
    color: #ffc600;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #00ff6e;
}


.menu-toggle {
    cursor: pointer;
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
}

.menu-toggle .hamburger {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.menu-toggle .hamburger::before,
.menu-toggle .hamburger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.menu-toggle .hamburger::before {
    top: -10px;
}

.menu-toggle .hamburger::after {
    bottom: -10px;
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    transform: rotate(90deg);
    top: 0;
}

.open .hamburger::after {
    transform: rotate(90deg);
    bottom: 0;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {

    header {
        padding: 10px;
    }

    header h1 {
        font-size: 32px;
    }

    nav ul {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .open ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
    }

    .open ul li {
        margin: 10px 0;
    }

    .open ul li a {
        font-size: 16px;
    }

    .container {
        padding: 10px;
        margin: 10px;
    }

    .section-about,
    .section-projects,
    .section-skills,
    .section-contact {
        padding: 40px 0;
    }

    .section-about h2,
    .section-projects h2,
    .section-skills h2,
    .section-contact h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }

    .header-profile-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #ff5555;
        box-shadow: 0 0 10px rgba(255, 121, 198, 0.3);
    }

    .project {
        margin-bottom: 30px;
    }

    .project h3 {
        font-size: 20px;
    }

    .project p {
        font-size: 16px;
    }

    .project-image {
        margin-bottom: 10px;
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C0C0C;
    /* Set the desired background color */
    z-index: 9999;
    /* Set a high z-index to ensure it's displayed above other elements */
}

.loading-gif {
    width: auto;
    height: 500px;

}

/* Small devices (up to 576px) */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 28px;
    }

    nav ul li a {
        margin-left: 8px;
    }

    .container {
        padding: 10px;
    }

    .section-about,
    .section-projects,
    .section-skills,
    .section-contact {
        padding: 30px 0;
    }

    .section-about h2,
    .section-projects h2,
    .section-skills h2,
    .section-contact h2 {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .profile-image {
        width: 120px;
        height: 120px;
        margin-right: 15px;
    }

    .project {
        margin-bottom: 20px;
    }

    .project h3 {
        font-size: 18px;
    }

    .project p {
        font-size: 14px;
    }

    .project-image {
        margin-bottom: 8px;
    }

    .about-content {
        flex-direction: column;
    }
}

/* Medium devices (between 577px and 768px) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    header h1 {
        font-size: 36px;
    }

    nav ul li a {
        margin-left: 15px;
    }

    .container {
        padding: 15px;
    }

    .section-about,
    .section-projects,
    .section-skills,
    .section-contact {
        padding: 50px 0;
    }

    .section-about h2,
    .section-projects h2,
    .section-skills h2,
    .section-contact h2 {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .profile-image {
        width: 160px;
        height: 160px;
        margin-right: 25px;
    }

    .project {
        margin-bottom: 35px;
    }

    .project h3 {
        font-size: 22px;
    }

    .project p {
        font-size: 16px;
    }

    .project-image {
        margin-bottom: 15px;
    }
}