@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glitch-text {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  animation: glitch 3s infinite;
  text-align: center;
}

@keyframes glitch {
  0% {
    text-shadow: 0 0 4px #fff, 0 0 6px #0ff;
  }
  25% {
    text-shadow: 2px -2px 4px #0ff, -2px 2px 6px #fff;
  }
  50% {
    text-shadow: -2px 2px 4px #fff, 2px -2px 6px #0ff;
  }
  75% {
    text-shadow: 2px -2px 4px #0ff, -2px 2px 6px #fff;
  }
  100% {
    text-shadow: 0 0 4px #fff, 0 0 6px #0ff;
  }
}
